<table st-pipe="getTransfersSql" st-table="data.pageData.transfers" class="table table-bordered table-hover transfer-table">
    <thead>
        <tr class="common-table-thead" style="cursor: pointer;">
            <th>
                <input ng-click="switchSelectAll()" type="checkbox">
            </th>
            <th ng-click="sortBySql('t.id')">转运单号
                <span class="sortorder" ng-show="propertyName === 't.id'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('t.transferNumber')">器官段号
                <span class="sortorder" ng-show="propertyName === 't.transferNumber'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('b.deviceId')">转运箱编号
                <span class="sortorder" ng-show="propertyName === 'b.deviceId'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('t.organ')">器官种类
                <span class="sortorder" ng-show="propertyName === 't.organ'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('t.organNum')">数量
                <span class="sortorder" ng-show="propertyName === 't.organNum'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('t.trueName')">转运人
                <span class="sortorder" ng-show="propertyName === 't.trueName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('t.fromCity')">转运起始地
                <span class="sortorder" ng-show="propertyName === 't.fromCity'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('h.name')">转运目的地
                <span class="sortorder" ng-show="propertyName === 'h.name'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBySql('t.startAt')">转运日期
                <span class="sortorder" ng-show="propertyName === 't.startAt'" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
    </thead>
    <tbody ng-show="!data.pagination.isLoading">
        <!--<tr ng-click="pickTransfer(transfer)" ng-repeat="transfer in data.pageData.transfers | orderBy:propertyName:reverse" style="cursor: pointer;">
        -->
        <tr  ng-repeat="transfer in data.pageData.transfers " style="cursor: pointer;" ng-click="pickTransfer(transfer)">

        <td ng-click="checkTransfer($event, $index)">
                <input ng-model="transfer.checked" type="checkbox">
            </td>
            <td><span ng-bind="transfer.transferNumber"></span></td>
            <td><span ng-bind="transfer.segNumber"></span></td>
            <td><span ng-bind="transfer.deviceId"></span></td>
            <td><span ng-bind="transfer.type"></span> </td>
            <td><span ng-bind="transfer.organCount"></span></td>
            <td><span ng-bind="transfer.name"></span></td>
            <td><span ng-bind="transfer.fromCity"></span></td>
            <td><span ng-bind="transfer.hospitalName"></span></td>
            <td><span ng-bind="transfer.startAt"></span></td>
            <!--getDateString-->
        </tr>
    </tbody>
    <tbody ng-show="data.pagination.isLoading">
    <tr>
        <td colspan="10" class="text-center">加载中 ... </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td id="transferTablePagination" colspan="10" class="text-center" st-pagination="" st-items-by-page="data.pagination.maxSize" st-displayed-pages="data.pageData.displayedPages">
        </td>
    </tr>
    </tfoot>
</table>
</div>