<div>
    <div>&nbsp;</div>
    <h4 style="margin-top: 20px;">
        <center>请输入账号密码:</center>
    </h4>
    <hr style="border : 1px dashed #e7e7e7;width:90%; "/>

    <div style="text-align: center;margin-left: 10px;margin-right: 10px;">
        <input class="form-control" type="password" ng-model="data.pwd"></div>
    <div style="margin-bottom: 20px;margin-top: 20px; text-align: center">
        <button class="btn btn-default" ng-click="$dismiss()">取消</button>
        <button style="margin-left: 50px;" class="btn btn-primary" ng-click="stopTransfer()">确定</button>
    </div>
    <div>&nbsp;</div>
</div>