<div class="modal-content" style="width: 130%;text-align: center">
    <div class="transbox-modal">
        <div class="transbox-modal-header">
            <div>
                <span class="transbox-blue-color">历史信息详情</span>
                <button ng-click="modalCheckBasicInfo()" type="button"
                        class="btn btn-default btn-blue-solid" id="baseInfo">基本信息
                </button>
                <button ng-click="modalCheckDataInfo()" type="button" class="btn btn-default"
                        id="sensorInfo">传感数据
                </button>
                <button ng-click="exportExcel(transferInfo.transferId)"
                        class="btn btn-default transbox-btn-size transbox-btn-bordered">导出
                </button>
                <button ng-click="$dismiss()"
                        class="btn btn-default transbox-btn-size transbox-btn-bordered">退出
                </button>

            </div>
            <hr style="border : 1px dashed #e7e7e7;"/>
        </div>
        <div class="transbox-modal-body">

            <div class="row">
                <div ng-if="data.modalPageIndex === 0" class="col-sm-12 col-md-12 col-lg-12"
                     style="text-align: center;">

                    <div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>箱号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.deviceId"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>器官段号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.segNumber"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>器官类型</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.type"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>器官数量</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.organCount"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>血型</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.bloodType"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>血液样本数量</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.bloodSampleCount"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>组织样本数量</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.organizationSampleCount"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>获取时间</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.getOrganAt"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运单号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.transferNumber"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运起始地</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.fromCity"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运目的地</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.h_name"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运方式</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.tracfficType"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>航班/车号</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.tracfficNumber"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>转运人</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.tp_name"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>联系方式</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.phone"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>获取组织</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.o_name"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>联系人</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.contactPerson"></div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>联系方式</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.contactPhone"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2 transbox-transfer-info-block">
                                <div>开箱密码</div>
                                <div class="transbox-transfer-info-content"
                                     ng-bind="transferInfo.boxPin"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="data.modalPageIndex === 1" class="col-sm-12 col-md-12 col-lg-12">
                    <!--<div style="text-align: center;line-height: 40px"-->
                    <!--ng-show="info.records.length = 0">-->
                    <!--本条转运暂无记录，请稍后查看。-->
                    <!--</div>-->

                    <div full-page options="mainOptions">
                        <div class="section">
                            <!--page1-->

                            <div style="padding: 15px;height: 430px;">
                                <div>
                                    <span class="way-span">最高温度:</span>
                                    <span class="way-span-color"
                                          ng-class="infoBase.maxTemperature >=1 && infoBase.maxTemperature<=4 ?
                               'way-span-color' : 'way-span-color-warning'"
                                          ng-bind="infoBase.maxTemperature"></span>
                                    <span class="way-span">最高湿度:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="infoBase.maxHumidity"></span>
                                </div>
                                <div>
                                    <span class="way-span">最低温度:</span>
                                    <span ng-class="infoBase.minTemperature >=1 && infoBase.minTemperature<=4 ?
                               'way-span-color' : 'way-span-color-warning'"
                                          ng-bind="infoBase.minTemperature"></span>
                                    <span class="way-span">最低湿度:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="infoBase.minHumidity"></span>
                                </div>

                                <div>
                                    <span class="way-span">平均温度:</span>
                                    <span ng-class="infoBase.avgTemperature >=1 && infoBase.avgTemperature<=4 ?
                               'way-span-color' : 'way-span-color-warning'"
                                          ng-bind="infoBase.avgTemperature?
                                          infoBase.avgTemperature+'℃':''"></span>
                                    <span class="way-span">平均湿度:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="infoBase.avgHumidity?infoBase.avgHumidity : ''"></span>
                                </div>

                                <div style="height: 1px;width: 100%;background: #D9D9D9;margin-bottom: 15px;margin-top: 15px;float: right"></div>

                                <div>
                                    <span class="way-span">碰撞次数:</span>
                                    <span ng-class="data.collisionData.length > 0? 'way-span-color-warning' : 'way-span-color'"
                                          ng-bind="data.collisionData.length == 0? '0次' : data.collisionData.length+'次'"></span>
                                    <span class="way-span">开箱次数:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="data.openData.length == 0? '0次' : data.openData.length+'次'"></span>
                                </div>
                                <div>
                                    <span class="way-span">当前位置:</span>
                                    <span class="way-span-color"
                                          ng-bind="infoBase.currentCity"></span>
                                    <span class="way-span">剩余距离:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="infoBase.distance"></span>
                                </div>
                                <div>
                                    <span class="way-span">剩余电量:</span>
                                    <span class="way-span-color"
                                          ng-bind="infoBase.power"></span>
                                    <span class="way-span">消耗电量:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="infoBase.expendPower"></span>
                                </div>
                                <div>
                                    <span class="way-span">开始时间:</span>
                                    <span class="way-span-color" ng-bind="infoBase.minRecordAt"></span>
                                    <span class="way-span">持续时间:</span>
                                    <span class="way-span-color-right"
                                          ng-bind="infoBase.duration"></span>
                                </div>

                            </div>
                        </div>

                        <div class="section">
                            <!--page4-->

                            <!--<div style="padding: 15px;height: 100%">-->
                            <div style="padding: 0px;height: 700px">

                                <div>
                        <span class="way-span-weight">当前位置:
                            <span class="color-blue"
                                  ng-bind="infoBase.currentCity"></span>
                        </span>
                                    <span class="crash-span-weight-float">剩余距离:
                            <span class="color-blue"
                                  ng-bind="infoBase.distance"></span>
                        </span>
                                </div>

                                <div id="map"
                                     style="height: calc(100% - 70px);width: inherit"></div>

                                <script type="text/javascript">
                                    var mapObj;
                                    var recordData;

                                    var scope = angular.element($("#map")).scope();
                                    var data = scope.infoRecord;

                                    if (data) {
                                        recordData = data;

                                        if (recordData.length > 0) {

                                            function mapInit() {
                                                for (var i = 0; i < recordData.length; i++) {
                                                    var item = recordData[i];
                                                    if (item.longitude && item.latitude) {
                                                        mapObj = new AMap.Map('map', {
                                                            dragEnable: false,
                                                            zoomEnable: false,
                                                            zoom: 10,
                                                            center: [item.longitude, item.latitude]
                                                        });

                                                        AMap.event.addListener(mapObj, "complete", completeEventHandler);

                                                        return;
                                                    }
                                                }

                                            }

                                            mapInit();
                                            //在指定位置打开信息窗体
                                            function openInfoCollision(map,maker,data) {
                                                //构建信息窗体中显示的内容
                                                var info = [];

                                                info.push("<div style=\"padding:0px 0px 0px 4px;\"><b>"+碰撞异常+"</b>");
                                                info.push("碰撞时间:<div style=\";color:#ff0000;\"><b>"+data+"</b>");
                                                infoWindow = new AMap.InfoWindow({
                                                    content: info.join("<br/>")  //使用默认信息窗体框样式，显示信息内容
                                                });
                                                infoWindow.open(map, maker.getPosition());
                                            }
                                            //在指定位置打开信息窗体
                                            function openInfoTemperature(map,maker,data,time) {
                                                //构建信息窗体中显示的内容
                                                var info = [];

                                                info.push("<div style=\"padding:0px 0px 0px 4px;\"><b>异常温度</b>");
                                                info.push("温度:<span style=\"color:#ff0000;\"><b>"+data+"℃</b></span>");
                                                info.push("时间:<sapn style=\"color:#ff0000;\"><b>"+time+"</b></sapn>");
                                                infoWindow = new AMap.InfoWindow({
                                                    content: info.join("<br/>")  //使用默认信息窗体框样式，显示信息内容
                                                });
                                                infoWindow.open(map, maker.getPosition());
                                            }
                                            function completeEventHandler() {
                                                lineArr = new Array();
                                                //碰撞
                                               var collisionData = scope.data.collisionData;
                                                for (var i = 0; i < recordData.length; i++) {
                                                    var item = recordData[i];
                                                    if (item.longitude && item.latitude) {

                                                        //alert(item.longitude+","+item.latitude);
                                                        //开始标志
                                                        if (i == 0) {
                                                            marker = new AMap.Marker({
                                                                map: mapObj,
                                                                position: new AMap.LngLat(item.longitude, item.latitude),//基点位置
                                                                //  title: item.temperature,
                                                                icon: "http://webapi.amap.com/theme/v1.3/markers/n/start.png"
                                                            });

                                                        }

                                                        //结束标志
                                                        if (i == recordData.length - 1) {
                                                            marker = new AMap.Marker({
                                                                map: mapObj,
                                                                position: new AMap.LngLat(item.longitude, item.latitude),//基点位置
                                                                //  title: item.temperature,
                                                                icon: "http://webapi.amap.com/theme/v1.3/markers/n/end.png"
                                                            });
                                                        }

                                                        //异常温度
                                                        if(item.temperature<0||item.temperature>6){
                                                           // console.log("t:"+item.temperature);
                                                            marker = new AMap.Marker({
                                                                map: mapObj,
                                                                position: new AMap.LngLat(item.longitude, item.latitude),//基点位置
                                                                //  title: item.temperature,
                                                                icon: "http://127.0.0.1:8080/transbox/images/temperature.png"
                                                            });
                                                            //鼠标点击marker弹出自定义的信息窗体
                                                            AMap.event.addListener(marker, 'click', function() {
                                                                openInfoTemperature(mapObj,marker,item.temperature,item.recordAt);
                                                            });
                                                        }
                                                        //碰撞
                                                        for(var d=0;d<collisionData.length;d++){
                                                            //console.log("c:"+collisionData[d]);
                                                            // console.log("r:"+item.recordAt);
                                                            if(collisionData[d]==item.recordAt){
                                                                marker = new AMap.Marker({
                                                                    map: mapObj,
                                                                    position: new AMap.LngLat(item.longitude, item.latitude),//基点位置
                                                                    //  title: item.temperature,
                                                                    icon: "http://127.0.0.1:8080/transbox/images/collision.png"
                                                                });
                                                                //鼠标点击marker弹出自定义的信息窗体
                                                                AMap.event.addListener(marker, 'click', function() {
                                                                    openInfoCollision(mapObj,marker,item.recordAt);
                                                                });
                                                                break;
                                                            }
                                                        }
                                                        lineArr.push(new AMap.LngLat(item.longitude, item.latitude));

                                                    }
                                                }



                                                var polyline = new AMap.Polyline({
                                                    map: mapObj,
                                                    panel: "panel",
                                                    path: lineArr,
                                                    strokeColor: '#00FF00',   // 线颜色
                                                    strokeOpacity: 0.7,         // 线透明度
                                                    strokeWeight: 6,          // 线宽
                                                    strokeStyle: 'solid',     // 线样式
                                                    strokeDasharray: [10, 5], // 补充线样式
                                                    geodesic: true,            // 绘制大地线
                                                    isOutline: true,
                                                    outlineColor: "#ff8511",
                                                    showDir: true,
                                                    lineJoin: 'round'
                                                });
                                                mapObj.setFitView();

                                            }

                                        }
                                    }

                                </script>

                            </div>

                        </div>


                        <div class="section">

                            <!--page2 温度-->

                            <div style="padding-top:15px">
                                <div style="width: 100%;height: 40px;">
                                <div style="text-align: center">
                        <span class="col-sm-3 col-md-3 col-lg-3">最高温度
                        </span>
                                    <span class="col-sm-3 col-md-3 col-lg-3">最低温度
                        </span>
                                    <span class="col-sm-3 col-md-3 col-lg-3">平均温度
                        </span>
                                    <span class="col-sm-3 col-md-3 col-lg-3">异常温度总数
                        </span>
                                </div>

                                <div style="text-align: center;">
                        <span class="col-sm-3 col-md-3 col-lg-3" ng-bind="infoBase.maxTemperature"
                              ng-class="infoBase.maxTemperature >=1 && infoBase.maxTemperature<=4 ?
                               'temp-color' : 'temp-color-warning'">
                        </span>
                                    <span class="col-sm-3 col-md-3 col-lg-3" ng-bind="infoBase.minTemperature"
                                          ng-class="infoBase.minTemperature >=1 && infoBase.minTemperature<=4 ?
                               'temp-color' : 'temp-color-warning'">
                        </span>
                                    <span class="col-sm-3 col-md-3 col-lg-3"
                                          ng-class="infoBase.avgTemperature >=1 && infoBase.avgTemperature<=4 ?
                               'temp-color' : 'temp-color-warning'"
                                          ng-bind="infoBase.avgTemperature?infoBase.avgTemperature+'℃':''">
                        </span>
                                    <span class="col-sm-3 col-md-3 col-lg-3"
                                          ng-class="'temp-color-warning'"
                                          ng-bind="unTemperature">
                        </span>
                                </div>
                                </div>

                                <div class="onway-morris-content" style="background-color: #FFFFFF">

                                    <div id="temperature" style="width: 100%">

                                    </div>
                                </div>
                            </div>
                        </div>




                    <div class="section" >

                        <!--page3 湿度-->

                        <div style="padding-top:15px">
                            <div style="width: 100%;height: 40px;"> <div style="text-align: center;">
                        <span class="col-sm-4 col-md-4 col-lg-4">最高湿度
                        </span>
                                <span class="col-sm-4 col-md-4 col-lg-4">最低湿度
                        </span>
                                <span class="col-sm-4 col-md-4 col-lg-4">平均湿度
                        </span>
                            </div>

                                <div style="text-align: center">
                        <span class="col-sm-4 col-md-4 col-lg-4 color-blue" ng-bind="infoBase.maxHumidity">
                        </span>
                                    <span class="col-sm-4 col-md-4 col-lg-4 color-blue"
                                          ng-bind="infoBase.minHumidity?infoBase.minHumidity:''">
                        </span>
                                    <span class="col-sm-4 col-md-4 col-lg-4 color-blue" ng-bind="infoBase.avgHumidity">
                        </span>
                                </div></div>


                            <div class="onway-morris-content">

                                <div line-chart style="background-color: #FFFFFF;width: 100%"
                                        id="humidity"></div>
                            </div>
                        </div>

                    </div>

                    <script>
                        var scope1 = angular.element($("#temperature")).scope();

                        var test = [];
                        for (var i = 0; i < scope1.tDataY.length; i++) {
                            test.push(scope1.tDataY[i] / 1.0);
                        }
                        var temratureTotal = scope1.temperatureTotal;
                        var tickIntervalSize = 8;
                        if(temratureTotal<40){
                            tickIntervalSize = 8;
                        }else{
                            tickIntervalSize = parseInt(temratureTotal/5);
                        }

                        parseInt(temratureTotal/40);
                        var chart = new Highcharts.Chart('temperature', {
                            chart: {
                                type: 'line'                         //指定图表的类型，默认是折线图（line）
                            },
                            title: {
                                text: '温度监控显示（℃）'                //指定图表标题
                            },
                            xAxis: {
                                tickInterval: tickIntervalSize,
                                categories: scope1.tDataX //指定x轴分组
                            },
                            yAxis: {
                                title: {
                                    text: '温度'                //指定y轴的标题
                                },
                                tickPositions: [-6, 0, 6, 12, 18] // 指定竖轴坐标点的值
                            },
                            series: [{                              //指定数据列
                                name: '温度',                       //数据列名
                                data: test,                  //数据
                                zones: [{
                                    value: 0.0,
                                    color: '#ff0000'
                                }, {
                                    value: 6.0,
                                    color: '#379DF2'
                                }, {
                                    color: "#ff0000"
                                }]
                            }]
                        });
                        var test1 = [];

                        for (var i = 0; i < scope1.dataY.length; i++) {
                            test1.push(scope1.dataY[i] / 1.0);
                        }
                        var chart = new Highcharts.Chart('humidity', {
                            chart: {
                                type: 'line'                         //指定图表的类型，默认是折线图（line）
                            },
                            title: {
                                text: '湿度监控显示（%）'                //指定图表标题
                            },
                            xAxis: {
                                tickInterval: 8,
                                categories: scope1.dataX //指定x轴分组
                            },
                            yAxis: {
                                title: {
                                    text: '湿度'                //指定y轴的标题
                                }
                            },
                            series: [{                              //指定数据列
                                name: '湿度',                       //数据列名
                                data: test1
                            }]
                        });
                    </script>
                    <div class="section">
                        <!--page5-->

                        <div style="padding: 15px">

                            <div>
                        <span class="way-span-weight">开箱次数:
                            <span class="color-blue"
                                  ng-bind="data.openData? (data.openData.length == 0? '0次' : data.openData.length+'次'):'0次'"></span>
                        </span>
                                <span class="crash-span-weight-float">碰撞次数:
                            <span class="color-blue"
                                  ng-class="data.collisionData?(data.collisionData.length > 0? 'temp-color-warning' : 'temp-color'):'temp-color'"
                                  ng-bind="data.collisionData?(data.collisionData.length == 0? '0次' : data.collisionData.length+'次'):'0次'"></span>
                        </span>
                            </div>

                            <div class="onway-morris-content" style="padding: 10px;">
                                <div>
                                    <span class="crash-span-weight">开箱时间</span>
                                    <span class="crash-span-weight-float">碰撞时间</span>
                                </div>

                                <div style="border-top: 1px #D9D9D9 solid"
                                     ng-repeat="info in data.crashData">
                            <span class="crash-span-weight"
                                  ng-bind="getShowtime(info.oInfo)"></span>
                                    <span class="crash-span-weight-float"
                                          ng-bind="getShowtime(info.cInfo)"></span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>